html{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-size: 4.2em;
    text-align: center;
    font-weight: 700;
    color: white;
    font-family: Rufina, serif;
}

h2{
    color: whitesmoke;
    font-size: 2.6em;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
    color: black;
    font-size: 2.4vw;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4{
    color: black;
    font-size: 2.4vw;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1vw;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.0vw;
}


#navBackground{
    background-color: rgb(203, 178, 106);
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    box-shadow: 5px 0 5px black;
}

#galleryImg{
    width: 100%;
    height: 28vh;
    object-fit: fill;
}

#imgGalleryBackground{
    background-color: black;
    padding-top: 10em;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-bottom: 5vh;
}

#galleryLargeHouse{
    padding-left: 20%;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

#galleryLargeHouseTxt{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

#galleryBackground{
    background-color: rgb(203, 178, 106);
}

#galleryAtHome{
    padding-top: 2vw;
    padding-right: 10%;
}

#galleryRentalProperty{
    background-color: whitesmoke;
    padding-top: 3vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vh;
}

#galleryFooter{
    background-color: black;
}

#galleryFooterTxt{
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .7vw;
    padding-top: 5%;
}

#footerButton{
    padding-top: 2%;
}